<header>
    <div class="container">
        <h1><%= invoice.company.name %></h1>
        <h2><%= invoice.company.slogan %></h2>
    </div>
</header>
<div id="content">
    <div class="container">
        <div class="pure-g">
            <div class="pure-u-1-3">
                <h3>Facture #<%= invoice.number %></h3>
            </div>
            <div class="pure-u-2-3 right">
                <p><%= invoice.client_head %></p>
                <p><%= invoice.client.address %></p>
                <%= content_tag :p, invoice.title if invoice.title %>
                <p><%= l (invoice.date_of_issue || invoice.updated_at.to_date), :format => :long %></p>
            </div>
        </div>
        <div class="pure-g">
            <div class="pure-u-1">
                <table class="pure-table pure-table-striped">
                    <thead>
                        <tr>
                            <td>Items</td>
                            <td>Qté/Hrs</td>
                            <td>Prix Unitaire</td>
                            <td>Sous-total</td>
                        </tr>
                    </thead>
                    <tbody>
                        <% invoice.items.each do |item| %>
                        <tr>
                            <td><%= item.name %></td>
                            <td><%= number_with_precision item.quantity, strip_insignificant_zeros: true %> hrs</td>
                            <td>$<%= number_with_precision item.value, strip_insignificant_zeros: true %>/hr</td>
                            <td>$<%= number_with_precision item.total, precision: 2 %></td>
                        </tr>
                        <% end %>
                        <% if invoice.items.count < 10 %>
                            <% for i in 0..(10 - invoice.items.count) %>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                            <% end %>
                        <% end %>
                        <tr class="table-footer">
                            <td></td>
                            <td></td>
                            <td>Grand total</td>
                            <td>$<%= number_with_precision invoice.total, precision: 2 %></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="pure-g boxed">
            <div class="pure-u-1">
                <h4>Modalités de paiement</h4>
                <p>Payable par chèque, espèces ou Internet (ex. Interac en ligne) sous <%= invoice.client.max_days %> jours.</p>
                <h4>Adresse</h4>
                <p><%= invoice.company.address %></p>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="container">
        <p><%= invoice.company_head %></p>
    </div>
</footer>